/* Will be compiled down to a single stylesheet with your sass files */

body {
  background: #ddd;
  color: #333;
  margin: 0;
  padding: 0;
}

#app {
  text-align: center;
  font-family: 'Helvetica Neue';
  padding: 0;
}
#logo {
  position: absolute;
  top: 15px;
  text-align: center;
  z-index: 1;
  width: 100%;
}
.timer {
  width: 100%;
  background: #fff;
  height: 50px;
  position: relative;
}
.timer .bar {
  width: 0;
  position: absolute;
  height: 50px;
  background: #333;
  -webkit-transition-property: width, background-color;
  -webkit-transition-duration: 35s;
  -webkit-transition-timing-function: linear;
}

h1 {
  background: #444;
  color: #fff;
  text-shadow: 0 -1px #000;
  padding: 20px 0;
  margin: 0;
}


.deck {
  padding: 30px 0;
}
.card {
  display: inline-block;
  margin: 5px;
  /*border: 1px solid #555;*/
  background: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: bold;
}
.card:hover {
  background: #333;
  color: #fff;
}
.card.disabled {
  opacity: 0.3;
}

.goal {
  font-size: 1.6em;
  font-weight: 100;
  padding: 15px 0;
  background: #fff;
  border-bottom: 1px dotted #ddd;
}
.equation {
  background: #fff;
  font-size: 2em;
  padding: 15px 0;
}

table {
  width: 100%;
}
table td {
  width: 50%;
  padding: 7px 10px;
}
td.name {
  text-align: right;
  border-right: 1px dotted #333;
}
td.score {
  text-align: left;
}

input[type="text"] {
  padding: 8px;
  font-size: 18px;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-weight: bold;
}
input.invalid {
  border: 3px solid red;
  background: pink;
}

button {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 1.15em;
  text-shadow: 0 1px #000;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 8px;
  background: #f00;
  color: #fff;
  border: 0;
  text-transform: uppercase;
}
